#cuadroOperaciones {
    background-color: azure;
    border: 5px solid blue;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    margin: auto;
    
}

#cuadroOperaciones::first-line {
    font-weight: bold;
    font-size: 150%;

        
}

#resSection{
    color: darkblue;
    text-align: center;
    
    
}
